<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
</style>


<base href="/">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
	<script src='js/app.js'></script>
	<script src='js/fact/FormController.js'></script>
	<script src='js/fact/FormService.js'></script>	
		<script src='js/fact/ShowController.js'></script>	

	<script src='js/fact/ShowService.js'></script>	



<title>Rupal Jaiswal</title>


</head>


<body ng-app='app'>

<!-- links -->

<div ng-view></div>




</body>
</head>
</html>
