<div class="jumbotron text-left">
<form id="searchbox">
<br><br><br>
<center><a href="">Search for Shows</a> | <a href="">Schedules</a> | <a href="">Favourites</a></center>
<br><br><br><br><br>
    <center>Search for your favourite TV shows</center><br>
   <center> <input id="search" type="text" placeholder="Type here" ng-model="searchWord">
    <input id="submit" type="button" value="Search" ng-click="callRouter()"></center>
</form>

<div charecter-preview></div>
<!-- 	<pre ng-if="fact"><h3> {{fact}}</h3> </pre>
 --></div>